# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Variables and secret files (CRÍTICO)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log

# Node modules
node_modules/

# .NET build artifacts
bin/
obj/

# Front-end build output
dist/